@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.dark {
  .sidebar-header {
    background: url(./assets/imgs/sidebar-header-d-img.png);
  }
}

.sidebar-header {
  background: url(./assets/imgs/sidebar-header-l-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.sidebar-footer {
  background: url(./assets/imgs/sidebar-footer-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: end;
}

.mc-online::after {
  content: "";
  position: absolute;
  transform: translateY(-18px);
  right: 10px;
  background-image: url(//forums.cubecraftcdn.com/xenforo/serve/styles/cubecraft/cubecraft/sidebar-icons/members-online-widget.png);
  height: 55px;
  width: 61px;
  background-size: contain;
  background-repeat: no-repeat;
}
